<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="/" method="post">
	Name <input type="text" name="stu_name" />
	<br />
	
<br />
<input type="submit" value="Save">
</form>
</body>
</html>