<section class="bg0 p-t-104 p-b-116">
		<div class="container">
			<div class="flex-w flex-tr">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
				<h2>This is About Page</h2>
					<form action="/about/save" method="get">
						Full Name <input type="text" name="full_name" />
						<Br />
						Password <input type="password" name="pass" />
						<br />
						<input type="submit" value="Save" />
					</form>
				</div>
	<a href="/about/save?name=james&age=25&city=ujjain">HELLO</a>


				
			</div>
		</div>
	</section>	
